<header class="header">Esta es la cabecera</header>

<body class="body">
    <main>
        <p>Hola esto es algo que todavia no se usar</p>
        <app-pokemon-list [textShow]=" 'H ' " *ngIf="isActiveList">
            <p>Pokemon-list works!</p>
        </app-pokemon-list>
        <app-pokemon-detail *ngIf="!isActiveList">And here the DETAILs</app-pokemon-detail>
        <button (click)=" handleView() ">Dale para que veas</button>
        <!-- Button.practise.component -->
        <app-button-practise [textButton]="'Asi es otra cosa'"></app-button-practise>
        <app-button-practise [textButton]="'Cancel'" (click)=" sayThings()"></app-button-practise>
        <app-button-practise></app-button-practise>
        < </main>
</body>
