.header {
    background-color: aqua;
    display: flex;
    justify-content: center;
    width: 100%;
    height: 100px;
}

.body {
    background-image: url("../assets/ef8d61c203b0188379e70763845ba97f.jpg");
    background-position: center;
    background-size: cover;
    width: 100%;
    height: auto;
    color: azure;
    padding: 0;
    margin: 0;
}
