            .pokemon-list {
                background-color: rgba(137, 43, 226, 0.527);
            }

            .pokemon-list-ul {
                padding-left: 0;
                list-style: none;
                display: flex;
                justify-content: center;
                align-items: center;
                flex-direction: column;
                .pokemon-list-li {
                    width: 100px;
                    height: auto;
                    background-color: blue;
                    margin: 10px;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    flex-direction: column;
                }
            }
