<p>pokemon-list works!</p>

<div class="pokemon-list">
    <ul class="pokemon-list-ul">
        <li class="pokemon-list-li" *ngFor="let pokemon of list">¨
            <p>{{pokemon.name}}</p>
            <p>{{pokemon.id}}</p>

        </li>
    </ul>
    <button>Change Something</button>
    <button>{{textShow}}</button>
</div>
